
### Lint

Lint to test style conformity

```bash
./tests/test_lint.sh
```

### Integration tests

Integration testing uses bats

```bash
sudo apt-get install bats
```
#### Tests

```bash
./tests/test.bats
```

#### Python versions

```bash
./tests/test_local.sh
```
{% include "versions.snippet" %}
